.logincontainer{
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    &_row{
        height: 60%;
        width: 50%;
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        &_body{
            height:100%;
            width:400px;
            padding: 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px 8px;
            background: #66339963;
            box-shadow: 0 0px 3px 0 rgba(0,0,0,0.6);
            &_logo{
                font-size: 36px;
            }
            &_form{
                width:320px;
                font-size: 16px;
            }
        }
    }
}

.btn-link{
    color:#fff;
}